{% extends "admin/admin.html.twig" %}

{# syntaxe complète
{% block title %}Toutes les recettes{% endblock %}
syntaxe raccourcie#}
{% block title "Toutes les recettes !"%}

{% block body %}

    <h1>Les recettes</h1>
    <p>
        <a class="btn btn-primary btn-sm" href={{ url('admin.recipe.create') }}>Créer une recette</a>
    </p>

    <h2>Toutes les recettes PAGINEES</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(recipes, 'ID', 'r.id') }}</th>
                <th>{{ knp_pagination_sortable(recipes, 'Titre', 'r.title') }}</th>
                <th>{{ knp_pagination_sortable(recipes, 'Catégorie', 'c.name') }}</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>
                    {# <a href={{ url('admin.recipe.show', {id: recipe.id, slug: recipe.slug}) }}>{{ recipe.title() }}</a> #}
                    <a href={{ url('admin.recipe.edit', {id: recipe.id}) }}>{{ recipe.title() }}</a>
                </td>
                <td>{{ recipe.category.name | default('') }}</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href={{ url('admin.recipe.edit', {id: recipe.id}) }}>Editer</a>
                        <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</a>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(recipes) }}

{#     boutons pagination sans knp bundle
    <div class="d-flex">
        {% if page > 1 %}
            <a class="btn btn-secondary" href="{{ path('admin.recipe.index', {page: page - 1}) }}">page précédente</a>
        {% endif %}
        {% if page < maxPage %}
            <a class="btn btn-secondary" href="{{ path('admin.recipe.index', {page: page + 1}) }}">page suivante</a>
        {% endif %}
    </div>
 #}
    <h2>En moins de 10 min!</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for recipe in recipes10 %}
            <tr>
                <td>
                    {# <a href={{ url('admin.recipe.show', {id: recipe.id, slug: recipe.slug}) }}>{{ recipe.title() }}</a> #}
                    <a href={{ url('admin.recipe.edit', {id: recipe.id}) }}>{{ recipe.title() }}</a>
                </td>
                <td>{{ recipe.category.name | default('') }}</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href={{ url('admin.recipe.edit', {id: recipe.id}) }}>Editer</a>
                        <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</a>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{#     Voici les recettes qui durent moins de 10 min :
    <ul>
        {% for recipe in recipes10 %}
        <li>
            {#  en appelant le getter #}
            {# <a href={{ url('admin.recipe.show', {id: recipe.getId, slug: recipe.getSlug}) }}>{{ recipe.getTitle() }}</a>
            {# sans appeler le getter (le système cherche le getter)#}
            {# <a href={{ url('admin.recipe.show', {id: recipe.id, slug: recipe.slug}) }}>{{ recipe.title() }}</a>#}
        {# </li>
        {% endfor %}
    </ul>
 #}
{#     Voici toutes les recettes disponibles en base de données :
    <ul>
    </ul>
 #}
{#     Voici les recettes disponibles :
    <ul>
        <li>
            <a href={{ url('recipe.show', {id:32, slug:'pate-bol'}) }}>Pâtes bolo (url complète)</a>
        </li>
        <li>
            <a href={{ path('recipe.show', {id:32, slug:'pate-bol'}) }}>Pâtes bolo (url avec seulement le chemin)</a>
        </li>
    </ul>
 #}
    Voici le dump de app.current_route directement dans Twig : {{ dump(app.current_route) }} </li>
{% endblock %}